
@media screen and (max-width: 600px) {
body {
  font-family: sans-serif;
  background-color: rgb(41, 41, 41);
  
  
    width: 100%;
    height: 100%;

}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  /* width: 390px;
  height: 894px; */
}


h1 {
  text-align: center;
  color: #f0f0f0;
}



.tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ff00ff, #00ffff);
  border-image-slice: 1;
  border-radius: 5px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(29, 29, 29, 0.2)2);
  margin-bottom: 20px;
  color: #fff;
  width: 390px;
  height: 194px;
}

.tracker p {
  font-size: 20px;
  margin: 10px;
}

/* .tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
} */

/* UN TIPO DE ESTILOS ALARGADO */

/* .tracker p {
  font-size: 20px;
  margin: 10px;
  display: inline-block;
}

.tracker-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tracker-buttons, .tracker-resets {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.tracker button {
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}



.reset-kcl, .reset-water,  {
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

#copy-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#time-display {
  background: #1a1a1a;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ff00ff, #00ffff);
  border-image-slice: 1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
}

}